body {
    padding: 20px 30px 50px 30px;
}

.scroll-div{
    width:400px;
}

.fixed_header {
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 300px;
}
    
.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
}