<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Cashflow Calculator</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="calculatorCtrl">
        <h2>Cashflow Calculator</h2>



        

        <form ng-submit="addLoan()"> 
            Loan: <input type="number" ng-model="loan.balance" id="currencyTextBox" required>
            Term: <input type="text" ng-model="loan.term" id="currencyTextBox" required>
            Rate: <input type="text" ng-model="loan.rate" id="currencyTextBox" required>


            <input type="submit" value="Add Loan"/>
         
        </form>

        <div class="table-responsive">

            <table class="table">
                <tr>
                    <th>Month</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>RemBalance</th>
                </tr>

                <tr ng-repeat="row in aggregate">
                    <td>{{row.month}}</td>
                    <td>{{row.interest | currency}}</td>
                    <td>{{row.principal | currency}}</td>
                    <td>{{row.remBalance | currency}}</td>
                </tr>
            </table>
        </div>


        <div ng-repeat="cashflow in allCashflows" class="table-responsive">

            <table class="table">
                <tr>
                    <th>Month</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>RemBalance</th>
                </tr>

                <tr ng-repeat="row in cashflow">
                    <td>{{row.month}}</td>
                    <td>{{row.interest | currency}}</td>
                    <td>{{row.principal | currency}}</td>
                    <td>{{row.remBalance | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
